- title "Settings"
= semantic_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |form|
  = form.inputs do
    = form.input :email
    = form.input :password, :hint => "leave blank if you don't want to change it"
    = form.input :password_confirmation
    = form.input :current_password, :hint => "we need your current password to confirm changes"
  = form.submit "Save changes"
