- title 'Change your password'
= app_state_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |form|
  = form.inputs do
    = form.input :password
    = form.input :password_confirmation
    = form.input :reset_password_token, :as => :hidden
  = form.submit "Change my password"
