- title 'Sign in'
= semantic_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |form|
  = form.inputs do
    = form.input :name
    = form.input :password
    = form.input :remember_me, :as => :boolean
  = form.submit 'Sign in'
= render :partial => "devise/shared/links"
